In [1]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')

In [2]:
melb_df = melb_data.copy()
melb_df.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [3]:
melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,1,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,2,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,2,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,1,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

In [4]:
diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area
display(melb_df['AreaRatio'])

0       -0.231707
1       -0.327660
2        0.056338
3        0.145455
4        0.083969
           ...
13575   -0.676093
13576   -0.429185
13577   -0.551601
13578   -0.693060
13579   -0.527426
Name: AreaRatio, Length: 13580, dtype: float64

In [5]:
import pandas as pd

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

# Расчёт плотности населения
countries_df['density'] = (countries_df['population'] * 1_000_000) / countries_df['area']

# Средняя плотность
average_density = round(countries_df['density'].mean(), 2)

print(average_density)

84.93

In [6]:
import pandas as pd

# Предположим, melb_df уже загружен
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)  # преобразуем в datetime
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek  # создаем признак дня недели

# Считаем количество продаж в выходные (суббота=5, воскресенье=6)
weekend_count = melb_df[melb_df['WeekdaySale'].isin([5, 6])].shape[0]

print(weekend_count)

12822

In [7]:
def get_weekend(weekday):
    return 1 if weekday in (5, 6) else 0

melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)

# 1. Маска: выходные
weekend_mask = melb_df['Weekend'] == 1

# 2. Маска: цена не пропущена
price_notna_mask = melb_df['Price'].notna()

# 3. Применяем обе маски
weekend_sales = melb_df[weekend_mask & price_notna_mask]

# 4. Считаем среднюю цену
average_price_weekend = round(weekend_sales['Price'].mean())

# 5. Показываем результат
print(average_price_weekend)

1081199

In [8]:
top_list_salers = melb_df['SellerG'].value_counts().nlargest(49).index


melb_df['SellerG_short'] = melb_df['SellerG'].apply(lambda x: x if x in top_list_salers else 'Other' )

nelson_series = melb_df['SellerG_short'] == 'Nelson'

min_price_Nelson = melb_df[nelson_series]['Price'].min()

other_series = melb_df['SellerG_short'] == 'Other'

min_price_other = melb_df[other_series]['Price'].min()

print(abs(min_price_Nelson / min_price_other))

1.297709923664122

In [10]:
# создаём пустой список
unique_list = []
# пробегаемся по именам столбцов в таблице
for col in melb_df.columns:
    # создаём кортеж (имя столбца, число уникальных значений)
    item = (col, melb_df[col].nunique(), melb_df[col].dtypes) 
    # добавляем кортеж в список
    unique_list.append(item) 
# создаём вспомогательную таблицу и сортируем её
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique',  ignore_index=True)
# выводим её на экран
display(unique_counts)

      Column_Name  Num_Unique            Type
0         Weekend           2           int64
1            Type           3          object
2     WeekdaySale           5           int32
3          Method           5          object
4      Regionname           8          object
5           Rooms           9           int64
6        Bathroom           9           int64
7             Car          11           int64
8         Bedroom          12           int64
9     CouncilArea          33          object
10  SellerG_short          50          object
11           Date          58  datetime64[ns]
12      YearBuilt         144           int64
13       Postcode         198           int64
14       Distance         202         float64
15        SellerG         268          object
16  Propertycount         311           int64
17         Suburb         314          object
18   BuildingArea         602         float64
19       Landsize        1448         float64
20          Price        2204         float64
21      Lattitude        6503         float64
22      AreaRatio        6521         float64
23     Longtitude        7063         float64
24        Address       13378          object

In [11]:
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] # список столбцов, которые мы не берём во внимание
max_unique_count = 150 # задаём максимальное число уникальных категорий
for col in melb_df.columns: # цикл по именам столбцов
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude: # проверяем условие
        melb_df[col] = melb_df[col].astype('category') # преобразуем тип столбца
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  category
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  category
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  datetime64[ns]
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  int64
 10  Bedroom        13580 non-null  int64
 11  Bathroom       13580 non-null  int64
 12  Car            13580 non-null  int64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   13580 non-null  float64
 15  YearBuilt      13580 non-null  category
 16  CouncilArea    12211 non-null  category
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  category
 20  Propertycount  13580 non-null  int64
 21  AreaRatio      13580 non-null  float64
 22  WeekdaySale    13580 non-null  category
 23  Weekend        13580 non-null  category
 24  SellerG_short  13580 non-null  category
dtypes: category(8), datetime64[ns](1), float64(7), int64(6), object(3)
memory usage: 1.9+ MB

None

In [12]:
# Узнаем размер до преобразования
before_mem = melb_df.memory_usage(deep=True).sum() / (1024**2)  # в мегабайтах
print(f"До преобразования: {before_mem:.2f} MB")

До преобразования: 4.18 MB

In [15]:
top_suburbs = melb_df['Suburb'].value_counts().nlargest(119).index
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in top_suburbs else 'other')

melb_df['Suburb'] = melb_df['Suburb'].astype('category')

after_mem = melb_df.memory_usage(deep=True).sum() / (1024**2)  # в мегабайтах
print(f"После преобразования: {after_mem:.2f} MB")

memory_diff = before_mem - after_mem
print(f"Разница: {round(memory_diff, 1)} MB")

После преобразования: 3.34 MB
Разница: 0.8 MB